/* Alex, we shouldn't style all buttons based on a spesific image (Tal) */
/* button{
    text-align: center;
    font-size: 14px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border-radius: 10px;
    background-color: #4784e6;
    border: none;
} */

.container{
    height: 70px;
    position: relative;
    text-align: center;
    top: 100px;
    
}

.centerButton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
/* Alex, we shouldnt style all images based on a spesific image (Tal) */
/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 100px;
    padding-bottom: 20px;
} */


#loginButton{
    background-color: yellow;
    border-radius: 12px;
    width: 200px;
    height: 100px;
    position: relative;
    top: 40px;
}