.joinOrLeave{
    background-color:pink;
    border-color:pink;
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
    padding-bottom:15px;

}
img{
    width:200px;
    height:200px;
}

.studentCourse{
    text-align:center;
}

#chat{
    display:inline-block;
    margin:15px;
}
#courseName{
    display:inline-block;
}