.nav{
    display: flex;
    width: 100%;
    
    
}

.nav>div{
    flex: 1;
}
.nav__button{
    background-color: rgb(221, 221, 221);
    padding: 10px;
    flex:1;
    text-align: center;
    
}
.nav__button:hover{
    background-color: rgb(180, 180, 180);
}