.iconDetails {
    margin-left:0px;
    vertical-align: middle;
    height:30px;
    width:30px; 
    padding: 5px;
   } 
   
.sidebar {
    height:fit-content;
    padding:1%;
    border: 2px solid black
   }

.div {
    border: 2px solid black
}