#mainCourses{
    width: 300px;
    border: 15px solid lightblue;
    text-align: center;
    margin: auto;
    color: blue;
    
}

#mainCoursePage{
border: 15px solid lightblue;
    text-align: center;
    margin: auto;
    color: blue;
}