.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.561);
    display: flex;
    align-items: center;
}
.modal__box{
    margin: auto;
    /* position: relative;
    top:50%;
    left:50%; */
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.397);
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
}


#instructorCourse{
    text-align:center;
}

button>img{
    width:20px;
    height:20px;
}

button{
    margin:5px;
    display:inline-block;
    background-color:white;
    border:none;
}

p{
    display:inline-block;
}