.courseBox {
   border: 2px solid black;
   display: grid;
   grid-template-columns: 40% 20% 20% 20%;
   text-align: right;
}

.image {
   width: 100px;
}

.box2{
   display: inline-block;
   height: 100%;
}

.button {
   background-color: blue;
   color: white;
   text-align: center;
   text-decoration: none;
   height: 50px;
   width: 50px;
   font-size: 28px;
   right:20px;
   border-radius: 50%;
   box-shadow: 1px 10px;
   position:absolute;
   bottom:20px;
}

.div {
   height: 500px;
}