.course {
   border: 2px solid black; 
   display: flex;
}

.image {
   width: 75px;
   height: 100%;
}

.header {
   text-align: center;
}

.imageDiv {
   height: 100%;
   vertical-align:top;
   float: left;
}